
#logo{
    border-radius: 50%;
}
.ph-number{
    color: #169FBD;
}
.nav-item a {
    font-weight: bold;
}
.nav-item a:hover,.nav-item a:focus, .nav-item #active {
    color: #169FBD;
}
#home{
    height: 460px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#home h2 {
    text-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}
#home h2 span {
    font-size: 24px;
    font-weight: 300;
}


/* services */
.triangle {
    position: relative;
}
.circle img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* contact */
.carousel-item img {
    width: 100px;
    height: 300px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #000;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #000;
}

/* responsive media query */
@media only screen and (max-width: 600px) {
    #home{
        height: 600px;
    }
    .carousel-item img {
        width: 100px;
        height: 230px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon 
    {
    height: 54px;
    width: 54px;
    
    }
    .carousel-control-next-icon:after
    {
    content: '>';
    font-size: 30px;
    color: #000;
    }

.carousel-control-prev-icon:after {
  font-size: 30px;
}
}
